<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <b>Angular Learning</b>
    <ul class="navbar-nav ml-">
        <li class="nav-item">
            <a routerLink="/" class="nav-link">View Employee</a>
        </li>
        <li class="nav-item">
            <a routerLink="/edit" class="nav-link">Edit Employee</a>
        </li>
        <li class="nav-item">
            <a routerLink="/clickme" class="nav-link">Quantity Increment</a>
        </li>
        <li class="nav-item">
            <a routerLink="/selector" class="nav-link">Quantity Selector</a>
        </li>
        <li class="nav-item">
            <a routerLink="/editemptemplatedriven" class="nav-link">Edit Employee - Template</a>
        </li>
        <li class="nav-item">
            <a routerLink="/editempreactive" class="nav-link">Edit Employee - Reactive</a>
        </li>
        <li class="nav-item">
            <a routerLink="/users" class="nav-link">Users</a>
        </li>
    </ul>
</nav>